
<app-competition-add></app-competition-add>
<div class="mat-elevation-z8">
  <mat-tab-group>
    <mat-tab label="Open Competitions">
      <div *ngIf="openCompetitions.length === 0; else openCompetitionsContent">
        No open competitions available.
      </div>
      <ng-template #openCompetitionsContent>
        <mat-table [dataSource]="openCompetitions" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.id }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="theDate">
            <mat-header-cell *matHeaderCellDef>TheDate</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.theDate }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="startTime">
            <mat-header-cell *matHeaderCellDef>StartTime</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.startTime }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="endTime">
            <mat-header-cell *matHeaderCellDef>EndTime</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.endTime }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.location }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="numberOfParticipant">
            <mat-header-cell *matHeaderCellDef>Number of Participants</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.numberOfParticipant }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.amount }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </ng-template>
      <mat-paginator #openPaginator
               [length]="openPaginator.length"
               [pageSize]="openPaginator.pageSize"
               [pageIndex]="openPaginator.pageIndex"
               (page)="onOpenPageChange($event)">
</mat-paginator>
    </mat-tab>

    <mat-tab label="Closed Competitions">
      <div *ngIf="closedCompetitions.length === 0; else closedCompetitionsContent">
        No closed competitions available.
      </div>
      <ng-template #closedCompetitionsContent>
        <mat-table [dataSource]="closedCompetitions" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.id }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="theDate">
            <mat-header-cell *matHeaderCellDef>TheDate</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.theDate }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="startTime">
            <mat-header-cell *matHeaderCellDef>StartTime</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.startTime }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="endTime">
            <mat-header-cell *matHeaderCellDef>EndTime</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.endTime }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.location }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="numberOfParticipant">
            <mat-header-cell *matHeaderCellDef>Number of Participants</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.numberOfParticipant }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let competition">{{ competition.amount }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </ng-template>
      <mat-paginator #closedPaginator
               [length]="closedCompetitionsDataSource.data.length"
               [pageSize]="closedCompetitionsDataSource.paginator?.pageSize || 10"
               [pageIndex]="closedCompetitionsDataSource.paginator?.pageIndex || 0"
               (page)="onClosedPageChange($event)">
</mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>
